<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download</title>
</head>
<body>
<h1>Downloads!</h1>
<h3>Windows x64</h3>
<a href="/static/itsoveranakin-win32-x64.zip">itsoveranakin-win32-x64.zip</a>
<h3>All</h3>
<a href="/static/itsoveranakin-linux-arm64.zip">itsoveranakin-linux-arm64.zip</a>
<br>
<a href="/static/itsoveranakin-linux-armv7l.zip">itsoveranakin-linux-armv7l.zip</a>
<br>
<a href="/static/itsoveranakin-linux-ia32.zip">itsoveranakin-linux-ia32.zip</a>
<br>
<a href="/static/itsoveranakin-linux-x64.zip">itsoveranakin-linux-x64.zip</a>
<br>
<a href="/static/itsoveranakin-win32-arm64.zip">itsoveranakin-win32-arm64.zip</a>
<br>
<a href="/static/itsoveranakin-win32-ia32.zip">itsoveranakin-win32-ia32.zip</a>
<br>
<a href="/static/itsoveranakin-win32-x64.zip">itsoveranakin-win32-x64.zip</a>
</body>
</html>